<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Threshold" value="DEBUG"/>
        <layout class="org.apache.log4j.PatternLayout">
            <!--<param name="ConversionPattern" value="[%-5p] %d [%t] %c - %m%n"/>-->
            <param name="ConversionPattern" value="[%-5p] %d: %m%n"/>
        </layout>
    </appender>

    <appender name="LOGFILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="C:/data/coding/prj/OpenDataBridge-spec/logs/opendatabridge.log"/>
        <param name="Threshold" value="INFO"/>
        <param name="MaxFileSize" value="10000KB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p] %d: %m%n"/>
        </layout>
    </appender>

    <logger name="esride.opendatabridge">
        <level value="DEBUG"/>
    </logger>

    <!-- Just for HTTP Logging
    <logger name="org.apache.http">
        <level value="DEBUG"/>
    </logger>    -->

    <root>
        <level value="WARN"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGFILE"/>
    </root>
</log4j:configuration>