<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd">

    <context:property-placeholder location="classpath:IntegrationTest.properties"/>

    <bean class="esride.opendatabridge.agolwriter.AgolService" id="agolservice" p:_AgolItemFactory-ref="agolitemfactory" p:_httpRequest-ref="httpRequest" p:_objectMapper-ref="objectMapper">
        <constructor-arg type="java.lang.String" value="${test.service.url}"/>
        <constructor-arg type="java.lang.String" value="${test.service.username}"/>
        <constructor-arg type="java.lang.String" value="${test.service.pwd}"/>
        <constructor-arg type="java.lang.String" value="${test.service.referer}"/>
    </bean>

    <bean class="esride.opendatabridge.item.AgolItemFactory" id="agolitemfactory" p:_objectMapper-ref="objectMapper">
        <constructor-arg type="java.lang.Boolean" value="${test.service.propertiesToStrings}"/>
    </bean>

    <bean class="esride.opendatabridge.agolwriter.IntegrationTestAgolService" id="integrationtestagolservice" />

    <bean class="com.fasterxml.jackson.databind.ObjectMapper" id="objectMapper" />

    <bean class="esride.opendatabridge.httptransport.HTTPRequest" id="httpRequest" />

    <util:map map-class="java.util.HashMap" key-type="java.lang.String" value-type="java.lang.String" id="jsonMap">
        <entry key="test01" value="${test.service.jsonItem1}" />
        <entry key="test02" value="${test.service.jsonItem2}" />
        <entry key="odHashMap" value="${test.service.odHashMap}" />
    </util:map>

</beans>